<div class="col-hero-locations">
    <a href="index_kent14.html">
        <div class="hero-locations-content">
            <h4>KENT <span>14</span></h4>
            <span class="txt">Hütteldorfer Straße 117<br></span>1140 Wien
        </div>
    </a>
    <div class="delivery"><a href="#">Online-Zustellservice</a></div>
</div>


<div class="col-hero-locations">

</div>


<div class="col-hero-locations">
    <a href="index_kent16.html">
        <div class="hero-locations-content">
            <h4>KENT <span>16</span></h4>
            <span class="txt">Brunnengasse 67<br></span>1160 Wien
        </div>
    </a>
    <div class="delivery"><a href="#">Online-Zustellservice</a></div>
</div>


<div class="col-hero-locations">
    <a href="index_kent20.html">
        <div class="hero-locations-content">
            <h4>KENT <span>20</span></h4>
            <span class="txt">Jägerstraße<br></span>1200 Wien
        </div>
    </a>
    <div class="delivery"><a href="#">Online-Zustellservice</a></div>
</div>
