<div class="col-locations-home">
    <div class="retaurant">
        <a href="index_kent14.html">
            <h4>KENT <span>14</span></h4>
            <img src="/sites/default/files/home_index/DSC03176.jpg">
        </a>
    </div>
</div>

<div class="col-locations-home">
    <div class="retaurant">
        <a href="index_kent15.html">
            <h4>KENT <span>15</span></h4>
            <img src="/sites/default/files/home_index/DSC03251.jpg">
        </a>
    </div>
</div>

<div class="col-locations-home">
    <div class="retaurant">
        <a href="index_kent16.html">
            <h4>KENT <span>16</span></h4>
            <img src="/sites/default/files/home_index/DSC03272.jpg">
        </a>
    </div>
</div>

<div class="col-locations-home">
    <div class="retaurant">
        <a href="index_kent20.html">
            <h4>KENT <span>20</span></h4>
            <img src="/sites/default/files/home_index/DSC03253.jpg">
        </a>
    </div>
</div>
