<div class="slides-container">
<<<<<<< HEAD
      <div class="bg" style="background-image: url(/sites/default/files/bg/29.jpg)"></div>
      <div class="bg" style="background-image: url(/sites/default/files/bg/17.jpg)"></div>
      <div class="bg" style="background-image: url(/sites/default/files/bg/32.jpg)"></div>
      <div class="bg" style="background-image: url(/sites/default/files/bg/13.jpg)"></div>
      <div class="bg" style="background-image: url(/sites/default/files/bg/51.jpg)"></div>
=======
    <div class="bg" style="background-image: url(/sites/default/files/bg/29.jpg)"></div>
    <div class="bg" style="background-image: url(/sites/default/files/bg/17.jpg)"></div>
    <div class="bg" style="background-image: url(/sites/default/files/bg/32.jpg)"></div>
    <div class="bg" style="background-image: url(/sites/default/files/bg/13.jpg)"></div>
    <div class="bg" style="background-image: url(/sites/default/files/bg/51.jpg)"></div>
>>>>>>> c27f525079bd99159808923ab9ea02025d7f9d36
</div>