<div class="col-intro-video">
    <div class="preview-video-txt">

    </div>
</div>

<!-- col-videos -->
<div class="cols-videos">

    <div class="col-video">
        <a href="#">
            <div class="show-video">
                <div class="show-video-txt">VIDEO</div>
                <div class="preview-video-home"><img src="/sites/default/files/home_index/DSC03238.jpg"></div>
            </div>
        </a>
    </div>

    <div class="col-video">
        <a href="#">
            <div class="show-video">
                <div class="show-video-txt">VIDEO</div>
                <div class="preview-video-home"><img src="/sites/default/files/home_index/DSC03130.jpg"></div>
            </div>
        </a>
    </div>

    <div class="col-video">
        <a href="#">
            <div class="show-video">
                <div class="show-video-txt">VIDEO</div>
                <div class="preview-video-home bottom"><img src="/sites/default/files/home_index/DSC03259.jpg"></div>
            </div>
        </a>
    </div>

    <div class="col-video">
        <a href="#">
            <div class="show-video">
                <div class="show-video-txt">VIDEO</div>
                <div class="preview-video-home bottom"><img src="/sites/default/files/home_index/DSC03259.jpg"></div>
            </div>
        </a>
    </div>


</div>
<!-- col-videos end -->